<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166678804754-ap5336ivgr0tqu0meiq0imkbhlcl2srn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166678804754-ap5336ivgr0tqu0meiq0imkbhlcl2srn</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Ecl1x01_Z07FMkdoeYOLj_ZTAtQqMc8</string>
	<key>GCM_SENDER_ID</key>
	<string>166678804754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benkoh.slick</string>
	<key>PROJECT_ID</key>
	<string>project-slick-48cd6</string>
	<key>STORAGE_BUCKET</key>
	<string>project-slick-48cd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166678804754:ios:0e703d7cdd1a99d0c59bcb</string>
</dict>
</plist>